@model IEnumerable<ShopAdo.DAL.Manufacturer>

@{
    ViewBag.Title = "Manufacturer Table";
}

<main class="container">
    <div class="row mt-3">
        @Html.ActionLink("Create new", "Add", null, new { @class = "btn btn-success" })
    </div>
    <div class="row mt-3">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ManufacturerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ManufacturerName)
                </th>
                <th></th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManufacturerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManufacturerName)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ManufacturerId }, new { @class = "text-warning" }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ManufacturerId }, new { @class = "text-success" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ManufacturerId }, new { @class = "text-danger" })
                    </td>
                </tr>
            }
        </table>
    </div>
</main>